#hm {
    background-color: #264653;
    padding: 4% 10% 4%;
    color: #fff;
}

.btn-clr {
    background-color: #F38713;
    color: whitesmoke;
}
/* .img-size{
    width: 60%;
} */

.txt-clr {
    color: black;
}

.btn-brdr {
    border-color: #F38713;
    color: #F38713;
}

span {
    color: #F38713;
}

.img-grayscale {
    filter: grayscale(1);

}

.fa-star {
    color: #F38713;
}

footer {
    background-color: #0B0D17;
    padding: 4% 10%;
    color: whitesmoke;
}

.text-margin {
    margin-right: 20px;
}

@media (max-width:480px) {
    .stamped-pic{
        display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .txt-align{
    text-align: center;
    }
    .cntct{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap; 
        
         
    }
    .ftr{
        margin-top: 30px;
    }
    .app-store{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
   
}